.right-section {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
}
.generated-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed grey;
	padding-bottom: 5px;
	font-family: Arial, sans-serif;
	font-style: normal;
	height: 45px;
}

.transcript-container {
	font-family: Arial, sans-serif;
	line-height: 1.4;
	margin-top: 20px;
}

.transcript-entry {
	display: flex;
	margin-bottom: 6px;
}

.speaker-label {
	font-weight: bold;
	min-width: 100px;
	color: #4a148c;
}

body.dark .speaker-label {
	color: #ff7043;
}

.speaker-text {
	flex-grow: 1;
	font-size: 0.9em;
	font-style: normal;
}

.generated-content {
	background: linear-gradient(to right, #e0f7fa, #ffedcc);
	padding: 10px;
	border: 1px dashed #3d3d3d;
	border-radius: 15px;
	min-height: 550px;
	align-items: center;
	color: #1b1120;
}
body.dark .generated-content {
	background: #424242;
	color: #f3e5f5;
	border-color: #9e9e9e;
}

/* Icons */

.generated-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.generated-header svg {
	cursor: pointer;
	font-size: 24px;
	color: gray;
	transition: transform 0.2s ease, color 0.2s ease;
	position: relative;
}

.generated-header svg:hover {
	transform: scale(1.1);
	color: #666;
}

.generated-header svg.active {
	color: orange;
	transform: scale(1.2);
}

.generated-header svg::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: -24px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 4px 6px;
	border-radius: 4px;
	font-size: 10px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out;
}

.generated-header svg:hover::after {
	opacity: 1;
	visibility: visible;
}
